﻿@* Loading page: hiển thị trang thái 1 trang đang nạp dữ liệu của trang *@
<div style="display:flex; align-items:center; justify-content:center;">
    <FluentProgressRing style="width: 82px; height: 82px; "></FluentProgressRing>
</div>